<div class="modal" id="productPurchaseModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin,@transfer_order], data: {reflex: "submit->WarehouseTransferOrderReflex#submit", user_id: current_user.id, warehouse_id: @warehouse.id}, html: {class: "form-horizontal form-bordered"} do |f| %>
      <div class="modal-content modal-full-size">
        <div class="modal-header flex-wrap">
          <div class="w-100 mb-3">
            <span class="header2 modal-title">Search Product</span>
          </div>
          <div class="w-100">
            <div class="search-bar">
							<input type="text" placeholder="Search Product..." class="form-control" data-reflex="debounced:input->WarehouseTransferOrderReflex#search_variant" data-warehouse-id="<%= @warehouse.id %>">
						</div>
          </div>
        </div>
        <div class="modal-body">
          <section id="warehouse-variant-search-edit-results">
						<% render partial: "search_variant", locals: { current_user: current_user } %>
					</section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
