<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% @products&.each do |product| %>
        <tr data-id="<%= product.id %>" data-sku="<%= product.sku %>" class="add-cem">
          <td class="pl-5" style="width: 30%"><%= product.sku %></td>
          <td style="width: 70%"><%= product.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>