<div class="container px-4">
  <%= form_for @department, url: { action: "create" }, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
    <div class="row">
      <div class="col-12 mb-3">
        <span class="header1">New Department</span>
      </div>
      <%= render partial: "form", locals: { f: f, current_user: current_user } %>
    </div>
  <% end %>
</div>