<div class="sb-topnav navbar bg-white">
  <div class="col-10">
    <a href="<%= outstanding_admin_warehouses_path %>">
      <%= image_tag "logo-em-2.png", class: "img-fluid w-100", style: "max-width: 200px" %>
    </a>
  </div>
  <div class="col-2 text-right">
    <%= link_to destroy_user_session_path, data: { method: "delete" } do %>
      <%= show_svg("log_out.svg") %>
    <% end %>
  </div>
</div>