<% @preorders.eager_load(:product_variant).order("LOWER(product_variants.sku)").each do |item| %>
  <a href="<%= preorder_quantity_pick_admin_warehouses_path(item_id: item.id) %>" class="row mx-0 py-3 border-grey bg-white rounded-5 mb-3">
    <div class="col-9">
      <span class="header1 font-weight-bold"><%= item&.line_item&.sku&.upcase %></span><br>
      <span class="text-light-grey">
        <%= item.order.name %>
      </span>
    </div>
    <div class="col-3 text-right">
      <span class="header2">pick</span><br>
      <span class="header1"><%= item.preorder_quantity %></span>
    </div>
  </a>
<% end %>