<% if @product_variants.present? %>
  <div class="row mx-0">
    <% @product_variants.each do |variant| %>
      <div class="col-12 mb-3">
        <a href="<%= variant_admin_search_admin_warehouses_path(variant_id: variant.id) %>" class="row mx-0 py-3 border-grey bg-white rounded-5 mb-3">
          <div class="col-9">
            <span class="header1"><%= variant&.sku&.upcase %></span><br>
            <span class="text-light-grey"><%= variant&.title %></span>
          </div>
          <div class="col-3 text-right">
            <span class="header1">
              <%= variant.cartons.map { |carton| carton.carton_locations.sum(:quantity) }.min %>
            </span>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>