<% if @query.present? %>
  <div class="table-responsive">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 30%">SKU</th>
          <th style="width: 30%">Pick Qty</th>
          <th style="width: 30%">Put Qty</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <% @variants.each do |variant| %>
          <tr>
            <td><%= variant&.sku&.upcase %></td>
            <td><%= variant.to_do_quantity.nil? ? 0 : variant.to_do_quantity %></td>
            <td><%= variant.received_quantity.nil? ? 0 : variant.received_quantity %></td>
            <td><%= link_to "Select", variant_search_admin_warehouses_path(variant_id: variant.id), class: "btn btn-secondary btn-fit-content" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>