<div class="modal" id="quantityPickModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag to_do_quantity_put_admin_warehouses_path(to_do_quantity: params[:to_do_quantity]), html: { class: "form-horizontal form-bordered", id: "mearge" } do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">QTY Pick</span>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th style="width: 40%">quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= text_field_tag "loc_id[#{@variant.id}]" %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>      
        <div class="modal-footer">
          <%= link_to "Cancel", to_do_quantity_put_admin_warehouses_path, class: "btn btn-secondary mr-4" %>
          <button class="btn btn-primary" name="button" type="submit">Submit</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <script type='text/javascript'>
  $('input[type="text"]').on('change', function() {
    var check = $(this).val();
  });
</script> %>
