<a class="underline-hover switch-tab <%= "active" if params[:action] == "container_posting" %>" href="<%= container_posting_admin_finance_containers_path %>">Posting</a>
<a class="underline-hover switch-tab <%= "active" if params[:action] == "container_record" %>" href="<%= container_record_admin_finance_containers_path %>">Records</a>
