<div class="container h-100 px-4 d-flex flex-column">
  <div class="row mb-3">
    <div class="col-6">
      <span class="header1">Container Finance</p>
    </div>
    <div class="col-12">
      <%= render partial: "navigation" %>
    </div>
  </div>
  <section class="d-flex flex-column flex-auto" id="filter-posting">
    <%= render partial: "record", locals: { postings: @postings, current_user: @current_user } %>
  </section>
</div>