<div class="container px-4">
  <%= form_for @department.employees.new, url: { action: "create" }, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
    <div class="row">
      <div class="col-6 mb-3">
        <span class="header1">New Employee Record</span>
      </div>
      <div class="col-6 text-right">
        <span class="mr-2">Reporting Manager</span>
        <%= f.check_box :is_director, data: { switch: "blue" } %>
        <%= f.label :is_director, "&nbsp;".html_safe %>
      </div>
    </div>
    <%= render partial: "form", locals: { f: f, current_user: current_user } %>
  <% end %>
</div>