<% unless @query == "" %>
  <div class="table-responsive" style="height: 200px">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 45%">Order Number</th>
          <th style="width: 45%">Customer Namer</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <% @orders&.each do |order| %>
          <tr>
            <td><%= order.name %></td>
            <td><%= order&.customer&.full_name&.titleize %></td>
            <td><%= check_box_tag "order_id", order.id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>