<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% unless @query == "" %>
        <% @containers&.each do |container| %>
          <tr>
            <td class="pl-5">
              <% if container&.store == "us" %>
                <%= link_to "CTUS" + "#{container.container_number}", edit_admin_container_path(container) %>
              <% else %>
                <%= link_to "CTCA" + "#{container.container_number}", edit_admin_container_path(container) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>