<nav>
  <ul class="pagination justify-content-end">
    <li class="page-item page-arrow-left">
      <a href="#" class="page-link dripicons-arrow-thin-left <% if @pagy.page == 1 %>page-arrow-end<% end %>" data-reflex="click->PurchaseReflex#pre_order_paginate" data-store-type="<%= current_store %>" data-page="<%= prev_page %>"></a>
    </li>
    <li class="page-item page-arrow-right">
      <a href="#" class="page-link dripicons-arrow-thin-right <% if @pagy.page == @pagy.last %>page-arrow-end<% end %>" data-reflex="click->PurchaseReflex#pre_order_paginate" data-store-type="<%= current_store %>" data-page="<%= next_page %>"></a>
    </li>
  </ul>
</nav>
