
/* Font colors
  =============================================================================== */

.text-black { color: var(--black) !important; }
.text-grey { color: var(--grey) !important; }
.text-blue { color: var(--blue) !important; }
.text-red { color: var(--red) !important; }
.text-green { color: var(--green) !important; }
.text-yellow { color: var(--yellow) !important; }
.text-navy { color: var(--navy) !important; }
.text-light-blue { color: var(--light-blue) !important; }
.text-light-grey { color: var(--light-grey) !important; }

.text-white-grey { color: var(--white-grey) !important; }

.text-off-white { color: var(--off-white) !important };
.text-off-white-light { color: var(--off-white-light) !important };
.text-warm-grey { color: var(--warm-grey) !important };
.text-warm-grey-light { color: var(--warm-grey-light) !important };
.text-charcoal { color: var(--charcoal) !important };
.text-charcoal-light { color: var(--charcoal-light) !important };
.text-yolk { color: var(--yolk) !important };
.text-yolk-light { color: var(--yolk-light) !important };
.text-sage { color: var(--sage) !important };
.text-sage-light { color: var(--sage-light) !important };
.text-red-clay { color: var(--red-clay) !important };
.text-red-clay-light { color: var(--red-clay-light) !important };



/* Background colors
  =============================================================================== */

.bg-black { background-color: var(--black) !important; }
.bg-grey { background-color: var(--grey) !important; }
.bg-blue { background-color: var(--blue) !important; }
.bg-red { background-color: var(--red) !important; }
.bg-green { background-color: var(--green) !important; }
.bg-yellow { background-color: var(--yellow) !important; }
.bg-navy { background-color: var(--navy) !important; }
.bg-light-grey { background-color: var(--light-grey) !important; }
.bg-light-blue { background-color: var(--light-blue) !important; }
.bg-light-red { background-color: var(--light-red) !important; }
.bg-light-green { background-color: var(--light-green) !important; }
.bg-light-yellow { background-color: var(--light-yellow) !important; }
.bg-light-navy { background-color: var(--light-navy) !important; }

.bg-white-grey { background-color: var(--white-grey) !important; }

.bg-off-white { background-color: var(--off-white) !important };
.bg-off-white-light { background-color: var(--off-white-light) !important };
.bg-warm-grey { background-color: var(--warm-grey) !important };
.bg-warm-grey-light { background-color: var(--warm-grey-light) !important };
.bg-charcoal { background-color: var(--charcoal) !important };
.bg-charcoal-light { background-color: var(--charcoal-light) !important };
.bg-yolk { background-color: var(--yolk) !important };
.bg-yolk-light { background-color: var(--yolk-light) !important };
.bg-sage { background-color: var(--sage) !important };
.bg-sage-light { background-color: var(--sage-light) !important };
.bg-red-clay { background-color: var(--red-clay) !important };
.bg-red-clay-light { background-color: var(--red-clay-light) !important };



/* Border colors
  =============================================================================== */

.border-black { border: solid 1px var(--black); }
.border-grey { border: solid 1px var(--grey); }
.border-blue { border: solid 1px var(--blue); }
.border-red { border: solid 1px var(--red); }
.border-green { border: solid 1px var(--green); }
.border-yellow { border: solid 1px var(--yellow); }
.border-navy { border: solid 1px var(--navy); }
.border-light-grey { border: solid 1px var(--light-grey); }
.border-light-blue { border: solid 1px var(--light-blue); }
.border-light-red { border: solid 1px var(--light-red); }
.border-light-green { border: solid 1px var(--light-green); }
.border-light-yellow { border: solid 1px var(--light-yellow); }
.border-light-navy { border: solid 1px var(--light-navy); }
  
.border-white-grey { border: solid 1px var(--white-grey); }
  
.border-off-white { border: solid 1px var(--off-white) };
.border-off-white-light { border: solid 1px var(--off-white-light) };
.border-warm-grey { border: solid 1px var(--warm-grey) };
.border-warm-grey-light { border: solid 1px var(--warm-grey-light) };
.border-charcoal { border: solid 1px var(--charcoal) };
.border-charcoal-light { border: solid 1px var(--charcoal-light) };
.border-yolk { border: solid 1px var(--yolk) };
.border-yolk-light { border: solid 1px var(--yolk-light) };
.border-sage { border: solid 1px var(--sage) };
.border-sage-light { border: solid 1px var(--sage-light) };
.border-red-clay { border: solid 1px var(--red-clay) };
.border-red-clay-light { border: solid 1px var(--red-clay-light) };  

.rounded-5 { border-radius: 5px; }


/* Buttons
  =============================================================================== */

.btn svg path,
.btn:hover svg path,
.btn:focus svg path,
.btn:active svg path {
  stroke: white !important;
}

.btn-primary {
  color: white !important;
  background-color: var(--blue);
  border-color: var(--blue);
}
  
.btn-primary:hover, .btn-primary:focus, .btn-primary:disabled {
  color: white !important;
  background-color: var(--navy);
  border-color: var(--navy);
}
  
.btn-secondary {
  color: white !important;
  background-color: var(--light-grey);
  border-color: var(--light-grey);
}
  
.btn-secondary:hover, .btn-secondary:hover, .btn-secondary:disabled {
  color: white;
  background-color: var(--grey);
  border-color: var(--grey);
}
  
.btn-primary-light {
  color: var(--blue) !important;
  background-color: white;
  border-color: var(--blue);
}
  
.btn-primary-light:hover, .btn-primary-light:focus {
  color: var(--blue) !important;
  background-color: var(--light-blue);
  border-color: var(--blue);
}
  
.btn-secondary-light {
  color: var(--light-grey) !important;
  background-color: white;
  border-color: var(--light-grey);
}
  
.btn-secondary-light:hover, .btn-secondary-light:focus {
  color: var(--grey) !important;
  background-color: var(--light-grey);
  border-color: var(--grey);
}

.btn-light-blue {
  color: var(--blue) !important;
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}
  
.btn-light-blue:hover, .btn-light-blue:focus {
  color: var(--navy) !important;
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.btn-red {
  color: var(--red) !important;
  background-color: white;
  border-color: var(--red);
}
  
.btn-red:hover, .btn-red:focus, .btn-red:disabled {
  color: white !important;
  background-color: var(--red);
  border-color: var(--red);
}
  
.btn:not(.btn-fit-content) { min-width: 100px; }
  
  
  
/* Badges
  =============================================================================== */
 
.badge {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: text-bottom;
  padding: 0 0.25rem;
}
  
.badge-outline-black {
  color: var(--black) !important;
  border: 1px solid var(--black) !important;
  background-color: white !important;
}
  
.badge-outline-grey {
  color: var(--grey) !important;
  border: 1px solid var(--grey) !important;
  background-color: white !important;
}
  
.badge-outline-blue {
  color: var(--blue) !important;
  border: 1px solid var(--blue) !important;
  background-color: white !important;
}
  
.badge-outline-red {
  color: var(--red) !important;
  border: 1px solid var(--red) !important;
  background-color: white !important;
}
  
.badge-outline-green {
  color: var(--green) !important;
  border: 1px solid var(--green) !important;
  background-color: white !important;
}
  
.badge-outline-yellow {
  color: var(--yellow) !important;
  border: 1px solid var(--yellow) !important;
  background-color: white !important;
}
  
.badge-outline-navy {
  color: var(--navy) !important;
  border: 1px solid var(--navy) !important;
  background-color: white !important;
}
  
.badge-outline-light-blue {
  color: var(--light-blue) !important;
  border: 1px solid var(--light-blue) !important;
  background-color: white !important;
}
  
.badge-outline-light-grey {
  color: var(--light-grey) !important;
  border: 1px solid var(--light-grey) !important;
  background-color: white !important;
}


/* Scrollbars
  =============================================================================== */

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0,.9);
}


/* Switch tabs
  =============================================================================== */

.switch-content {
  display: none !important;
}

.switch-content.active {
  display: block !important;
}

.row.switch-content.active {
  display: flex !important;
}

.d-inline.switch-content.active {
  display: inline !important;
}


/* Calendar
  =============================================================================== */

.simple-calendar .calendar-heading {
  margin-bottom: 1rem;
}

.simple-calendar .calendar-heading .calendar-title {
  font-weight: bold;
  color: var(--blue);
  margin: 0 1rem;
}

.simple-calendar .calendar-heading a {
  color: var(--grey);
}
  
.simple-calendar .today {
  color: var(--black);
  background: #eee;
}

.simple-calendar .prev-month,
.simple-calendar .next-month {
  color: var(--light-grey);
}

.simple-calendar .event-block {
  position: absolute;
  left: -0.75rem;
  padding: 0.25rem;
  font-weight: normal;
  z-index: 1;
}

.simple-calendar table {
  border-left: solid 1px var(--light-grey) !important;
  border-right: solid 1px var(--light-grey) !important;
  border-bottom: solid 1px var(--light-grey) !important;
  margin-bottom: 0;
}

.simple-calendar thead {
  z-index: 1;
}

.simple-calendar th {
  display: inline-block;
  height: 35px;
  width: calc((100% - 1.75rem) / 7);
}

.simple-calendar tr {
  background: white !important;
  display: inline-block;
  width: 100%;
}
  
.simple-calendar td {
  display: inline-block;
  position: relative;
  height: 125px;
  width: calc((100% - 1.75rem) / 7);
  font-weight: bold;
  overflow: visible;
}



/* Misc. utilities
  =============================================================================== */

/* position element in the center of parent */
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* file dropzone */
#dropzone {
  border: 2px dashed var(--light-grey);
  text-align: center;
  padding: 1.5rem;
}

#dropzone input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

/* remove arrows from number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

/* new notification indicator */
.new-notification-indicator {
  position: absolute;
  height: 8px;
  width: 8px;
  background: var(--red);
  border-radius: 50%;
  top: calc(50% - 1rem);
  right: 1rem;
}

/* toggle view */
.toggle-view {
  cursor: pointer;
}

.toggle-content {
  display: none;
}

.toggle-content.active {
  display: block;
}

.row.toggle-content.active {
  display: flex;
}

tr.toggle-content.active {
  display: table-row;
}

/* search bar */
.search-bar:before {
  content: url("../../assets/icons/search.svg");
  display: block;
  position: relative;
  height: 14px;
  width: 14px;
  top: 1.75rem;
  left: 1rem;
  margin-top: calc(-1.75rem + 7px);
  filter: opacity(0.5);
}

.search-bar input {
  padding-left: 3rem;
}

/* flex */
.flex-auto {
  flex: 1 1 auto;
  overflow: auto;
}

/* updated style for select valiation */
.was-validated input.form-control:invalid, input.form-control.is-invalid,
.was-validated input.form-control:valid, input.form-control.is-valid {
  background-position: center right 0.5rem;
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid,
.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
  background-position: top 0.5rem right 0.5rem;
}

.was-validated select.form-control:invalid, select.form-control.is-invalid,
.was-validated select.form-control:valid, select.form-control.is-valid {
  background-position: center right 1.5rem;
}

.was-validated input[type=checkbox]:invalid + .checkmark,
.was-validated input[type=radio]:invalid + .checkmark {
  border-color: #dc3545;
}

.was-validated input[type=checkbox]:valid + .checkmark,
.was-validated input[type=radio]:valid + .checkmark {
  border-color: #28a745;
}

/* btn labels for checkboxes */
input[type="radio"]~label {
  color: var(--blue) !important;
}

input[type="radio"]:checked~label {
  color: white !important;
  background: var(--blue) !important;
}

input[type="radio"]:disabled~label {
  color: white !important;
  background: var(--grey) !important;
}