<div class="row position-relative" style="top: calc(57px + 1rem)">
  <div class="col-6 mb-3">
    <%= image_tag @product.product_images[0].src, class: "img-fluid" if @product.product_images[0].present? %>
  </div>

  <div class="col-6 mb-3">
    <p class="header1">
      <%= @product.title if @product.title.present? %>
    </p>

    <% if @product.product_variants.present? %>
      <div class="row">
        <% swatch_type= Array.new %>
        <% @product.product_variants.drop(1).each do |variant| %>
          <% swatch = variant.title.split('/')[0] %>
          <% unless swatch_type.include? swatch %>
            <div class="col-2">
              <% if swatch.include? "-" %>
                <%#= image_tag swatch.parameterize, class: 'swatch-image' %>
              <% end %>
              <p class="font-weight-bold text-center"><%= swatch %></p>
            </div>
            <% swatch_type.push(swatch) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @product.body_html.present? %>
    <div class="col-12">
      <div style="display: block">
        <%== @product.body_html %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('body').on('click', 'ul.tabs > li > a', function(e) {
    e.preventDefault();
    var contentLocation = $(this).attr('href');
    if(contentLocation.charAt(0)=="#") {
      $('ul.tabs > li > a.active').removeClass('active');
      $(this).addClass('active');
      $(this).parents('ul.tabs').next().find(contentLocation).addClass('active').siblings().removeClass('active');
    }
  });
</script>