<div class="col-5">
  <%# image_tag @product.product_images[0].src, class: 'img-fluid' #%>
</div>

<div class="col-6">

  <div class="text-right">
    <a href="javascript:history.back()">
      <span style="color: orange !important; text-align: right">< Back</span><br>
    </a>
  </div>
</div>