<div class="container p-4">
  <div class="row mb-4">
    <div class="col-2">
      <div class="search-bar d-inline-block">
        <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->ProductReflex#assign_variant" data-store-type="<%= current_store %>" data-user_id="<%= current_user.id %>", data-product_id="<%= @product.id %>">
			</div>
    </div>
  </div>
  
  <div class="row mx-0 mb-4 p-3 clr-white">
    <div class="col-12">
      <section id="product-assign-results">
        <%= render partial: "assign_results", locals: { current_store: current_store, product: @product } %>
      </section>
    </div>
  </div>
</div>