<script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"> 
<div class="px-5 py-5">
  <div class="container">
    <%= form_for @product, url: {action: "create"}, html: {class: "form-horizontal form-bordered"} do |f| %>
      <h4 class="mb-4">New Product</h4>
      <%= render partial: "form", locals: {f: f, current_user: current_user, m2_product: @m2_product } %>
    <% end %>
  </div>
</div>