<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% if @query.present? %>
        <% @customer_leads.each do |customer_lead| %>
          <tr>
            <td style="width: 25%"><%= customer_lead&.full_name %></td>
            <td style="width: 25%"><%= customer_lead&.email %></td>
            <td style="width: 25%"><%= customer_lead&.phone %></td>
            <td style="width: 25%"><%= link_to "Create Lead", new_admin_invoice_path(customer_id: customer_lead.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>