<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% @users&.each do |user| %>
        <tr>
          <td class="user-search" data-id="<%= user.id %>" data-issue-id="<%= @issue_id %>" data-reflex="click->IssueReflex#add_tag_user"><%= user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>