<div class="container p-4" style="font-size: 1.25rem">
  <div class="row mx-0 p-3">
    <div class="col-10">
      <p>We were unable to retrieve your information. Please try again or contact our customer support team for assistance.</p>
      <p><b>Livechat & Email Support</b>:<br>
        6:00 am - 9:00 pm PST (Mon. - Fri.)<br>
        9:00 am - 9:00 pm PST (Sat.)</p>
      <p>Email: info@eternitymodern.com</p>
    </div>
  </div>
</div>