<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% unless @query == "" %>
        <% @line_items&.each do |line_item| %>
          <tr>
            <td class="pl-5">
              <a href="<%= admin_product_variant_path(line_item.id) %>">
                <%= line_item.title %> | <%= line_item.sku %>
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>