<div class="container p-4">  
  <div class="row">
    <div class="col-12">
      <h5>Archive</h5>
    </div>

    <div class="col-2 mb-4">
      <div class="drop-toggle">
        Filter: Type
        <i class="dripicons-chevron-right"></i>
      </div>
      <div class="drop-menu drop-menu-right">
        <a href="">
          <div class="drop-item">Order Fulfilled</div>
        </a>
        <a href="">
          <div class="drop-item">Cancelled</div>
        </a>
        <a href="">
          <div class="drop-item">Purchases</div>
        </a>
        <a href="">
          <div class="drop-item">Containers</div>
        </a>
      </div>
    </div>
  </div>
</div>

  </div>

  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div> 