<div class="container p-4">
  <div class="row">
    <div class="col-12">
      <h5>Completed</h5>
    </div>
    
    <div class="col-10 text-right mb-4">
      <button type="button" class="btn btn-secondary mr-4" id="check-none" style="width: 150px">Clear Selected</button>
      <button type="button" class="btn btn-primary" style="width: 150px">Archive</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th style="width: 34%">Order Number</th>
            <th style="width: 34%">Customer</th>
            <th style="width: 24%">Order Date</th>
            <th class="text-right" style="width: 8%">
              <input id="check_all" class="btw" type="checkbox">
            </th>
          </tr>
        </thead>
        <tbody>
          <% @orders.where(status: :completed).each do |order| %>
            <tr>
              <td><%= link_to order.name, edit_admin_order_path(order), data: { turbolinks: false } %></td>
              <td><%= order.customer&.full_name&.titleize %></td>
              <td><%= order.created_at.to_date.strftime('%B %d, %Y')%></td>
              <td class="text-right">
              <%= check_box_tag order.name, order.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $("#check-none").on("click", function() {
    $("input[type='checkbox']").prop("checked", false);
  });
</script>