<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_team" %>
    </div>

    <div class="col-10">
      <%= form_for @store_address, url: { action: "create" }, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
        <%= render partial: "form", locals: { f: f, current_user: current_user } %>
      <% end %>
    </div>
  </div>
</div>