<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
        <% @orders&.each do |order| %>
          <tr>
            <td class="order-search" data-id="<%= order.id %>">
              <%= order.name %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>