<a class="side-link <%= "active" if controller.controller_name == "accounting_expenses" %>" href="<%= accounting_admin_accounting_expenses_path %>">Expense Types</a>
<a class="side-link <%= "active" if controller.controller_name == "expense_payment_methods" %>" href="<%= admin_expense_payment_methods_path %>">Payment Methods</a>