<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% unless @query == "" %>
        <% @purchases&.each do |purchase| %>
          <tr>
            <td class="pl-5">
              <% if purchase&.store == "us" %>
                <%= link_to "TUS" + purchase.id.to_s, admin_purchase_path(id: purchase&.id), data: { turbolinks: false } %>
              <% else %>
                <%= link_to "TCA" + purchase.id.to_s, admin_purchase_path(id: purchase&.id, data: { turbolinks: false }) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>