<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% unless @query == "" %>
        <% @product_variants&.each do |variant| %>
          <tr class="product-variant cursor-pointer" data-sku="<%= variant.sku %>">
            <td style="width: 50%"><%= variant.title %> <%= ("| " + variant.option1) if variant.option1.present? %></td>
            <td style="width: 50%"><%= variant.sku.upcase %></td>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>