<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
        <% @users.try(:each) do |user| %>
          <tr class="text-center">
            <td class="user-search" data-id="<%= user.id %>">
              <%= user.username %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>