<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      Hello <%= @user.full_name %>, Below is the password for your account. Please change it immediately after first time login
      <br><br>
      Password: <%= @password %>
      <p>
         ___________
      </p>
      <p>Thanks!</p>
   </body>
</html>