<div class="container p-4">
  <div class="row mb-4">
    <div class="col-2">
      <h5>Swatch Products</h5>
    </div>
    <% if current_user.user_group.admin_cru %>
      <div class="col-10 text-right">
        <a href="<%= new_admin_swatch_product_path %>">
          <button class="btn btn-primary">Add<i class="dripicons-plus ml-4"></i></button>
        </a>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>SKU</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @swatch_products.each do |swatch_product| %>
              <tr>
                <td><%= swatch_product.swatch_sku %></td>
                <td><%= swatch_product.description %></td>
                <td>
                  <% if current_user.user_group.admin_cru %>
                    <%= link_to "", edit_admin_swatch_product_path(swatch_product), :class => 'btn btn-fit-content dripicons-pencil' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>