<div class="container p-4">
  <div class="row mb-4">
    <div class="col-12">
      <h5>Add</h5>
    </div>
  </div>

  <div class="row mx-0 mb-4 p-3 clr-white">
    <div class="col-12">
      <%= form_for @swatch_product, url: {action: "create"}, html: {class: "form-horizontal form-bordered"} do |f| %>
        <%= render partial: "form", locals: {f: f, current_user: current_user } %>
      <% end %>
    </div>
  </div>
</div>