<%= form_for [@whitelist_ip.comments.new], remote: true, :url => admin_create_whitelist_comments_path(@whitelist_ip), data: {reflex: "submit->CommentReflex#submit", user_id: current_user.id} do |f| %>
  <div class="mb-4">
    <div id="editor" data-reflex-permanent></div>
  </div>

  <div class="row mb-4">
    <div class="col-6">
      <%= f.hidden_field :description %>
      <%= f.hidden_field :tag_user_id %>
      
      <input type="text" placeholder="Tag someone..." class="form-control" data-reflex="debounced:input->OrderReflex#search_user">
      <section class="search-results" id="user-search-edit-results">
        <% render partial: "search_user", locals: { current_user: current_user } %>
      </section>
    </div>

    <div class="col-6 text-right">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
<% end %>

<h3>Comments</h3>
<% @whitelist_ip.comments.each do |comment| %>
  <div class="well">
    <%= comment.description %>
  </div>
<% end %>

<script type="text/javascript">
  $("#new_comment").on("submit", function() {
    $("#comment_description").val($(".ql-editor").html());
    // $("#comment_tag_user_id").val($(".ql-editor").html().match(/@\w+/g).map(s => s.slice(1)).join(","));

    var val = "";

    $(".ql-editor .tag").each(function() {
      if ($(this).data("id") != null) {
        val += $(this).data("id") + ",";
      }
    });

    $("#comment_tag_user_id").val(val.slice(0, -1));
    $(".ql-editor").html("");
  });

  $(document).on("click", ".user-search", function() {
    var id = $(this).data("id");
    var name = $(this).text().trim().toLowerCase().split(' ').join('_');
    $(".ql-editor p").last().append("<span class='tag' data-id='" + id + "'>@" + name + "</span>");
  });
</script>

<link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],
  [{ 'color': [] }, { 'background': [] }]
];


  if (!$(".ql-toolbar").length) {
    var editor = new Quill("#editor", {
        
      modules: { 
        toolbar: toolbarOptions 
      },
      theme: "snow",
    });
  }
</script>